// -------------------------
// -----COLOR VARIABLES-----
// -------------------------
$color-white: #fff;
$color-grey-dark: #333;
$color-grey-light: darken($color-white, 5%);

$color-map: (
  primary: #111,
  accent: #111,
  secondary: #222,
  tertiary: #333,
  headline: $color-white,
  menu-items: #111,
  text: $color-grey-dark,
  link: #111,
  body: $color-white,
  container: $color-grey-light,
);

// ------------------------
// -----FONT VARIABLES-----
// ------------------------

//-----FONT FAMILY-----
$font-primary: sans-serif;
// $font-secondary: ;
// $font-tertiary: ;

//-----FONT WEIGHT-----
$font-weight-map: (
  bold: 700,
  semi-bold: 600,
  medium: 500,
  regular: 400,
  light: 300,
  extra-light: 200,
  thin: 100,
);

//-----FONT SIZE-----
$font-size-map: (
  hero: 4.8rem,
  h1: 3.2rem,
  h2: 2.4rem,
  h3: 1.87rem,
  normal: 1.6rem,
  small: 1.3rem,
  smaller: 1.2rem,
  big: 1.9rem,
  bigger: 2rem,
);

// ------------------------
// -----REUSEABLE-----
// ------------------------

// -----SPACE: MARGIN / PADDING / SIZES-----
// -----------------------------------------

//-----BREAKPOINT VARIABLES-----
// 1400px, 1024px, 680px, 480px, 320px.
$breakpoint-map-up: (
  x-large: 140rem,
  large: 102.4rem,
  medium: 68rem,
  small: 48rem,
);

// 1300px, 1023px, 679px, 319px.
$breakpoint-map-down: (
  large: 139.9rem,
  medium: 102.3rem,
  small: 67.9rem,
);

//-----HEIGHT VARIABLES-----
$height-header: 6rem;
$height-footer: 6rem;
$width-content-lg: 82%;
$width-content-md: 90%;
$width-content-sm: 114rem;
// $width-content-lg: 114rem;
// $width-content-md: 114rem;
// $width-content-sm: 114rem;

//-----SPACE VARIABLES-----

$sp-0-25: 0.25rem;
$sp-0-5: 0.5rem;
$sp-0-75: 0.75rem;
$sp-1: 1rem;
$sp-1-25: 1.25rem;
$sp-1-5: 1.5rem;
$sp-2: 2rem;
$sp-3: 3rem;

//-----Z-INDEX VARIABLES-----
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
